[submodule "remote/widgets.wbs.host"]
	path = remote/widgets.wbs.host
	url = git@github.com:kirilenko/rr-widgets-wbs-host.git

[submodule "remote/shared.host"]
	path = remote/shared.host
	url = git@github.com:kirilenko/rr-shared-host.git
