[submodule "remote/widgets.wbs.host"]
	path = remote/widgets.wbs.host
	url = git@github.com:kirilenko/rr-widgets-wbs-host.git

[submodule "remote/common.host"]
	path = remote/common.host
	url = git@github.com:kirilenko/rr-common-host.git
